body {
  background: #001111;
  font-family: "Roboto" sans-serif;
  color: white;
  width: 900px;
}

h1 {
  color: #ea8f55;
  font-size: 3em;
  font-family: "Montserrat" sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 25px;
  margin-bottom: 2px;
  font-weight: bolder;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
}

p {
  font-size: 1.15em;
}

a {
  color: #adff2f;
}

a:visited {
  color: cyan;
}

a:hover {
  background: white;
  color: black;
}

.navigation {
  border: 100px;
  border-color: white;
}

#short-list {
  list-style: disc;
  width: fit-content;
}

#short-list li:hover {
  background: #ea8f55;
  color: white;
  width: fit-content;
}

#search-box {
  border-radius: 0.5em;
  border-width: 2px;
  border-color: green;
  padding-top: 2px;
  padding-bottom: 1px;
}

#search-button {
  border-radius: 0.5em;
  border-color: white;
  background: green;
  color: white;
  padding: 0.1em 0.5em;
}

#search-button:hover {
  background: white;
  color: green;
  border-color: green;
}

/* IMAGE RULES */

.portrait {
  width: 372px;
  border: 10em;
  border-width: 2em;
  border-color: white;
}

.landscape {
  height: 800px;
}

#image-box {
  margin: 2.5em;
  font-size: 25px;
}
