body {
  background: #001111;
  color: #fbffff;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  color: #ea8f55;
  font-size: 3em;
}

p {
  font-size: 1.15em;
}

a {
  color: #adff2f;
}

a:visited {
  color: cyan;
}

a:hover {
  background: white;
  color: black;
}

li {
  list-style: circle;
  width: fit-content;
}

li:hover {
  background: orange;
}
